<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %>009 works</h1>
    <p>Welcome to <%= title %></p>

    <form action="">
      <p><%= question %></p>
      <input type="text" placeholder="this is a placeholder">
      <button>OK</button>
    </form>

    <div style="margin-top: 10%;">
      <p>This is a question logged from the DB</p>
      <p>This is the first response</p>
      <p>This is the second response</p>
    </div>
  </body>
</html>
