body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#answer {
  border-radius: 5px;
}

#submit-answer {

}

.q_a_wrapper {
  display: inline-block;
}

.question_ {
  font-size: 18px;
  font-weight: bold;
}

.answer_item {
  margin-left: 30px;
  font-size: 12px;
  font-weight: normal;
}

/* COLOR SCHEME */

body {
  background-color: #fcf8e3;
}

a {
  color: darkorange;
}

.jumbotron h1 {
  text-align: center;
  color: #A94242;
}

h2 {
  text-align: center;
  color: rgba(138, 109, 59, 0.78);
}

h3.text-muted {
  color: darkorange;
}

#prompt_question {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: white;
}

#log {
  margin-top: 5%;
  color: #A94242;
}

.jumbotron {
  background-color: rgba(255, 165, 0, 0.51);
}

.btn-lg {
  background-color: darkorange;
  border-color: darkorange;
}

.btn-lg:hover {
  background-color: rgba(255, 140, 0, 0.83);
  border-color: rgba(255, 140, 0, 0.83);
}

.nav-pills>li.active>a {
  background-color: rgba(138, 109, 59, 0.78);
}

.question_ p {
  color: darkorange;
}


