body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

#prompt_question {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

#answer {
  border-radius: 5px;
}

#submit-answer {

}

#log {
  margin-top: 5%;
}

.ans {
  font-size: 12px;
  font-weight: normal;
}

.q_a_wrapper {
  display: inline-block;
}

.question_ {
  font-size: 18px;
  font-weight: bold;
}

.answer_item {
  margin-left: 30px;
}
